target/
/src/main/resources/application-local.properties
/src/main/resources/robot.txt
/src/main/resources/application.properties
/src/main/resources/application-prod.properties
/src/main/resources/application-dev.properties
.factorypath

# Frontend Build
/src/main/resources/static/
/src/main/resources/templates/spa.html

# IDE Settings
.idea
.vscode
dnd5.iml

# System files
.DS_Store
.folder-for-tests/

.project

.settings/org.eclipse.jdt.core.prefs
