<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout-datatables}">
<head>
</head>
<body>
	<th:block th:object="${background}" th:fragment="view">
		<ul class="stat-list">
			<li><b>Владение навыками:</b> <span th:each="skill, iterStat : *{skills}" th:utext="${iterStat.last? skill.cyrilicName: skill.cyrilicName + ', '}">-</span> <span th:text="*{otherSkills}"></span></li>
			<li th:if="*{toolOwnership}"><b>Владение инструментами:</b> <span th:utext="*{toolOwnership}">-</span></li>
			<li th:if="*{language}"><b>Языки:</b> <span th:text="*{language}">-</span></li>
			<li th:if="*{equipmentsText}"><b>Снаряжение:</b> <span th:utext="*{equipmentsText}">-</span></li>
			<li><b>Начальный капитал:</b> <span th:text="|*{startMoney} зм.|">-</span></li>
		</ul>

		<h4 class="header_separator"><span>Описание</span></h4>
		<span th:utext="*{description}"></span>
		<h4 class="header_separator"><span th:text="*{skillName}"></span></h4>
		<div th:utext="*{skillDescription}"></div>
		<h4 th:unless="${tables.empty}" class="header_separator"><span>Персонализация</span></h4>
		<div th:if="*{personalization}" th:utext="*{personalization}"></div>
		<th:block th:each="type : ${tables}">
		<table th:unless="${tables.empty}" class="table">
				<thead>
					<tr>
						<th th:text="|к${type.value.size}|"></th>
						<th th:text="${type.key.name}" style="text-align: left;"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="value, status : ${type.value}">
						<td th:text="${status.index + 1}" style="text-align: center;"></td>
						<td th:utext="${value.text}"></td>
					</tr>
				</tbody>
		</table>
		</th:block>
	</th:block>
</body>
</html>
